body {
  background-color:#677077
}

h1{
  font-family: 'Century Gothic';
  color: #f2b632;
  
}

h2 {
  font-family: 'Century Gothic';
  font-size: 28px;
  text-decoration: underline;
  color: #252839;
  
}

h3 {
  font-family: 'Century Gothic';
  font-size: 20px;
  font-weight: 50;
  color: #cccccc;
  line-height: 28px;
  text-align: center;
}

p {
  font-family: 'Century Gothic';
  font-weight: 50;
  color: #cccccc;
  text-align:center;
}


.banner {
  background-image: url("https://c2.staticflickr.com/6/5559/15014508162_312aa6fa0b_z.jpg");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  margin: 1px 0px 0px 0px;
}

.linebreak {
  background-color: #f2b632;
  color:#f2b632;
   
}

.banner img {}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#252839
;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}

li {
  display: inline-block;
  text-align: center;
}

li a {
  display: block;
  color: #677077;
  text-align: center;
  padding: 14px 20px 14px 20px;
  text-decoration: none;
  font-family: verdana;
  font-size: 14px;
}

li a:hover {
  background-color: #f2b632;
}

hr {
  width: 100%;
}

.space {
    visibility: hidden;
    line-height: 5%;
}

.imgpos {
  display: flex;
  justify-content: center;
}